absl-py @ file:///root/FixMatch-pytorch-master/absl_py-1.2.0-py3-none-any.whl
certifi @ file:///root/FuMDFEND/certifi-2021.10.8-py2.py3-none-any.whl
charset-normalizer @ file:///root/FuMDFEND/charset_normalizer-2.0.1-py3-none-any.whl
click @ file:///root/FuMDFEND/click-8.0.0-py3-none-any.whl
cycler @ file:///root/TorchSSL-main/cycler-0.11.0-py3-none-any.whl
filelock @ file:///root/FuMDFEND/filelock-3.0.6-py3-none-any.whl
gensim @ file:///root/FuMDFEND/gensim-4.0.0-cp38-cp38-manylinux1_x86_64.whl
grpcio @ file:///root/FixMatch-pytorch-master/grpcio-1.48.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
huggingface-hub @ file:///root/FuMDFEND/huggingface_hub-0.1.0-py3-none-any.whl
idna @ file:///root/FuMDFEND/idna-3.2-py3-none-any.whl
jieba==0.42.1
joblib @ file:///root/TorchSSL-main/joblib-1.0.1-py3-none-any.whl
kiwisolver @ file:///root/TorchSSL-main/kiwisolver-1.3.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl
Markdown @ file:///root/FixMatch-pytorch-master/Markdown-3.3.1-py3-none-any.whl
matplotlib @ file:///root/TorchSSL-main/matplotlib-3.4.3-cp38-cp38-manylinux1_x86_64.whl
numpy @ file:///root/numpy-1.23.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
packaging @ file:///root/FuMDFEND/packaging-21.3-py3-none-any.whl
pandas @ file:///root/TorchSSL-main/pandas-1.2.3-cp38-cp38-manylinux1_x86_64.whl
Pillow @ file:///root/Pillow-9.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
protobuf @ file:///root/FixMatch-pytorch-master/protobuf-4.21.5-py3-none-any.whl
pyparsing @ file:///root/TorchSSL-main/pyparsing-3.0.0-py3-none-any.whl
python-dateutil @ file:///root/TorchSSL-main/python_dateutil-2.8.2-py2.py3-none-any.whl
pytz @ file:///root/TorchSSL-main/pytz-2021.3-py2.py3-none-any.whl
PyYAML @ file:///root/TorchSSL-main/PyYAML-5.4-cp38-cp38-manylinux1_x86_64.whl
regex @ file:///root/FuMDFEND/regex-2021.7.6-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
requests @ file:///root/FuMDFEND/requests-2.26.0-py2.py3-none-any.whl
sacremoses @ file:///root/FuMDFEND/sacremoses-0.0.45-py3-none-any.whl
scikit-learn @ file:///root/TorchSSL-main/scikit_learn-0.24.2-cp38-cp38-manylinux2010_x86_64.whl
scipy @ file:///root/TorchSSL-main/scipy-1.5.4-cp38-cp38-manylinux1_x86_64.whl
six @ file:///root/FixMatch-pytorch-master/six-1.16.0-py2.py3-none-any.whl
smart-open @ file:///root/FuMDFEND/smart_open-4.1.2-py3-none-any.whl
tensorboard @ file:///root/FixMatch-pytorch-master/tensorboard-1.15.0-py3-none-any.whl
tensorboard-data-server @ file:///root/FixMatch-pytorch-master/tensorboard_data_server-0.6.1-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///root/FixMatch-pytorch-master/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
threadpoolctl @ file:///root/TorchSSL-main/threadpoolctl-2.1.0-py3-none-any.whl
tokenizers @ file:///root/FuMDFEND/tokenizers-0.10.1-cp38-cp38-manylinux2010_x86_64.whl
torch @ file:///root/torch-1.7.1%2Bcu110-cp38-cp38-linux_x86_64.whl
torchvision @ file:///root/torchvision-0.8.2%2Bcu110-cp38-cp38-linux_x86_64.whl
tqdm @ file:///root/FixMatch-pytorch-master/tqdm-4.55.1-py2.py3-none-any.whl
transformers @ file:///root/FuMDFEND/transformers-4.3.0-py3-none-any.whl
typing_extensions @ file:///root/typing_extensions-4.3.0-py3-none-any.whl
urllib3 @ file:///root/FuMDFEND/urllib3-1.26.1-py2.py3-none-any.whl
Werkzeug @ file:///root/FixMatch-pytorch-master/Werkzeug-1.0.1-py2.py3-none-any.whl
